<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" action="/success7" th:object="${rentals}">
    <label for="costRental">Стоимость</label>
    <input type="text" id="costRental" th:field="*{costRental}">
    <label for="dateRental">Дата</label>
    <input type="date" id="dateRental" th:field="*{dateRental}">
    <label for="car">Машина</label>
    <select id="car">
        <div th:each="element : ${cars}">
            <option th:text="${element.getBrand()}"></option>
        </div>
    </select>
    <label for="user">Пользователь</label>
    <select id="user">
        <div th:each="element : ${users}">
            <option th:text="${element.getFio()}"></option>
        </div>
    </select>
    <input type="submit" value="Create">
</form>
</body>
</html>